// bottoni

.btn_1 {
  color: $color-text-2;
  
  text-transform: uppercase;
  padding: 4px 25px;
  text-transform: uppercase;
  font-size: 14px;
  border: 0;
  background: $color-btn;
  font-size: 13px;
  transition: color, background .4s linear;
 /*  transition: background .4s linear; */
  
  &:hover {
    background: $color-text-2;
    color: $color-btn;
  }
}
.btn_2 {
  color: $color-text-2;
  
  text-transform: uppercase;
  padding: 4px 25px;
  text-transform: uppercase;
  font-size: 14px;
  border: 0;
  background: $color-btn;
  font-size: 13px;
  transition: color, background .4s linear;
 /*  transition: background .4s linear; */
  
  &:hover {
    background: rgb(28, 163, 163);
   
  }
}

// titoli
h1 {
  font-size: 45px;
  color: $color-text-2;
}
h5 {
  font-size: 18px;
  text-transform: uppercase;
}

//img hover

.hover {
    transition: transform .3s linear;
    
  cursor: pointer;
  &:hover {
    transform: scale(1.02);
    border-radius: 50px;
  }
}

// a

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: $base-font;
  color: $color-text-2;
  &.active,
  &:hover {
    color: $color-btn;
    transition: color 0.4s;
  }
}
.a_1 {
  text-decoration: none;
  text-transform: uppercase;
  font-size: $base-font;
  &.active,
  &:hover {
    color: $color-btn;
    transition: color 0.4s;
    cursor: pointer;
  }
}

// separatore

.separator {
  color: #b6b5b5;

  margin-bottom: 20px;
}
.separator_2 {
  color: $bg-color-4;
  margin-bottom: 20px;
}
