// colors
$bg-color-1: #ffff;
$bg-color-2:#f1efef;



// colors button

$color-btn: #39afbb;

// colors text
$color-text-1: #bcbcbd;
$color-text-2: #ffff;


// Typografy
$font-primary: 'Montserrat', sans-serif;
$base-font: 16px;
